.body.koe {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:#b5651d ;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    border: 15px 30px 30px 15px ;
}


.nav-links li {
    margin-right: 100px;
    margin-block: 8px;
}
.nav-links a{
    text-decoration: none;
    color: #f1b709;
    transition: color 0.3s;
}
.nav-links button{
    text-decoration: none;
    color: #f1b709;
    transition: color 0.3s;
}
.nav-links a:hover{
    color: rgb(235, 187, 11);
    background: white;
    border-radius: 50px;
    padding: 7px 13px;
}


.search-container {
    display: flex;
    align-items: center;

}

.menu-container {
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color:#333;
    color: #f4b805;
    border: none;
    cursor: pointer;
    font-size: 16px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(22, 22, 22);
    z-index: 1;
}

.dropdown-content a {
    color:rgb(235, 187, 11);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropbtn:hover{
    color: rgb(235, 187, 11);
    background: white;
    border-radius: 50px;
    padding: 7px 13px;
}

.dropdown-content a:hover {
    
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}


#search-bar {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    color: black;
}

#search-button {
    background-color: #ff9900;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #e58300;
}